.home-content {
    display: block;
}

.new-content {
    display: none;
}

.men-content {
    display: none;
}

.women-content {
    display: none;
}

.kids-content {
    display: none;
}

.sale-content {
    display: none;
}

.brands-content {
    display: none;
}
